issuer: https://token.actions.githubusercontent.com
subject_pattern: "repo:{{ github_owner }}/{{ project_name }}:ref:refs/heads/main"
claim_pattern:
  workflow_ref: "{{ github_owner }}/{{ project_name }}/\\.github/workflows/img-optimization\\.yml@refs/heads/main"
permissions:
  contents: write
  pull_requests: write
