issuer: https://token.actions.githubusercontent.com
subject_pattern: "repo:{{ github_owner }}/{{ project_name }}:ref:refs/tags/v.*"
claim_pattern:
  workflow_ref: "{{ github_owner }}/{{ project_name }}/\\.github/workflows/release-(go|dotnet)\\.yml@refs/tags/v.*"
permissions:
  contents: write
  packages: write
  id-token: write
